.glow {
  filter: blur(160px);
  top: -100px;
  background: rgb(36, 0, 255);
  background: radial-gradient(
    circle,
    rgba(36, 0, 255, 1) 0%,
    rgba(0, 135, 255, 1) 16%,
    rgba(255, 29, 122, 1) 33%,
    rgba(245, 56, 27, 1) 50%,
    rgba(255, 83, 53, 1) 66%,
    rgba(105, 30, 255, 1) 100%
  );
}
