.glow {
  filter: blur(160px);
  top: -100px;
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    #2400ff 0deg,
    #0087ff 67.5deg,
    #ff1d7a 198.75deg,
    #f5381b 251.25deg,
    #ff5335 301.88deg,
    #691eff 360deg
  );
}
